[Unit]
Description=Servidor Day of Defeat Source Tolerância Zero
After=multiuser.target
[Service]
ExecStart=/usr/local/sbin/dodtz start
ExecStop=/usr/local/sbin/dodtz stop
Type=forking
[Install]
WantedBy=multi-user.target
[Service]
Restart=on-failure
RestartSec=10s
TimeoutStopSec=2
